<div class="jumbotron"><h2>Members and Birthdays!!</h2></div>
<p id="notice"><%= notice %></p>

<% @users.each do |user|%>
  <div>
    <%= user.name %> - 
    <%= format_date user.birthday %>
  </div>
<% end %>
<%= link_to 'Sign up', new_user_path %>
