<p id="notice"><%= notice %></p>
<div class="wrapper">
  <div class="row">
    <div class="col-md-8">
      <h2>About Us</h2>
      <p class="about">
      <span class="lead">Burat Wangi</span> is Southern California’s best known gamelan orchestra specializing in the music and dance of Bali. Founded in 1972 by world-renowned musicians and dancers I Nyoman Wenten, Nanik Wenten, and K.P.H. Notoprojo, the group performs a diverse repertoire of traditional and new music by Bali’s most famous composers and choreographers.  
      <br>
      <br>
      In recent years, the group has performed at: Disney Hall (World Music Subscription Series), Japan America Theatre, California Institute of the Arts Musical Exploration Series, REDCAT Theatre, Grand Performances at California Plaza, Mingei Museum (San Diego),The Getty Center, Los Angeles Lotus Festival, the home of the Indonesian Consul in Los Angeles, and at the wedding of the Prince of Malaysia.  
      <br>
      <br>
      The 30-member group enjoys a reputation for its professionalism, musicianship, and mastery of traditional arts.  Burat Wangi is frequently joined by guest artists of the highest rank, including I Dewa Putu Berata and I Nyoman Cerita, who have also contributed significant works to the group’s repertoire.  Many group members have pursued independent music study in Bali, some of them funded by the Fulbright Foundation.  
      </p>
    </div>
   
  </div>
</div>




