<h2>Members Area</h2>

<div class="row">
  <div class="col-xs-4">
    <h4>Edit Post</h4>

    <%= form_for @post do |f| %>
      <div>
        <%= f.label :content %>
        <%= f.text_field :content %>
      </div>
    <% end %>
  </div>
</div>